
:root{
  --bg-root: #99866c;
  --bg-app-container: #d2b48c;
  --sidebar-bg-color: #ffffff;
  --gradient-bg-color: linear-gradient(to right, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0.97) 9.1%, hsla(0, 0%, 100%, 0.925) 17%, hsla(0, 0%, 100%, 0.868) 23.9%, hsla(0, 0%, 100%, 0.801) 30%, hsla(0, 0%, 100%, 0.725) 35.5%, hsla(0, 0%, 100%, 0.644) 40.5%, hsla(0, 0%, 100%, 0.558) 45.4%, hsla(0, 0%, 100%, 0.471) 50.2%, hsla(0, 0%, 100%, 0.385) 55.2%, hsla(0, 0%, 100%, 0.301) 60.5%, hsla(0, 0%, 100%, 0.223) 66.5%, hsla(0, 0%, 100%, 0.151) 73.2%, hsla(0, 0%, 100%, 0.089) 80.9%, hsla(0, 0%, 100%, 0.038) 89.8%, hsla(0, 0%, 100%, 0) 100%);
  --experience-bg-color: #e6e6e6;
  --box-shadow-bg-color: #000000aa;
}
#taskbar{
  --tb-clip: 5px;
  clip-path: polygon(var(--tb-clip) 0, calc(100% - var(--tb-clip))  0, 100% var(--tb-clip), 100% calc(100% - var(--tb-clip) ), calc(100% - var(--tb-clip)) 100%, var(--tb-clip) 100%, 0 calc(100% - var(--tb-clip)), 0 var(--tb-clip));
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  perspective: 1000px;
  perspective-origin: 68% 50%;
}
#sidebar{
  background: var(--sidebar-bg-color);
  box-shadow: 20px 0 20px -20px var(--box-shadow-bg-color);

  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
}

#experience{
  background: var(--experience-bg-color);
  position:relative;
  top:.5rem;
  clip-path: polygon(calc(100% - 20px) 0%, 100% 20px, 100% 100%, 0 100%, 0 0);
}
#experience-container-gradient{
  height: inherit;

  opacity:0;
  width: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-bg-color);
  background: linear-gradient(270deg, var(--experience-bg-color) 0%, var(--sidebar-bg-color) 100%);
}

#root {
  margin: 0 auto;
  background: var(--bg-root);
  padding: 1rem;
  text-align: center;
  background-image: radial-gradient(#212121 20%, transparent 20%),
  radial-gradient(#635a5a 20%, transparent 20%);
  background-color: #161616;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



#app-container {
  margin: 0 auto;
  max-width: 8.5in;
  --s: 30px; /* control the size*/
  --color: hsl(120, 24%, 35%); /* control the color */
  --_g: radial-gradient(#0000 70%,#1a2030 71%);
  background: var(--bg-app-container);

  /* pattern */ 
  position:relative;
  clip-path: polygon(20px 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 20px);

}

/* #app-container::before{
  --borderWidth : 3rem;
  content: "";
  position: absolute;
  z-index: 100;
  background-color: var(--bg-root);
  left: 0;
  top:0;
  width:109px; 
  height:3rem;

} */

@media print {
  #app-container::after{
    display:none;
  }
  :root{
    --experience-bg-color: #ffffff00;
  }
}

h1{ 
  font-size: large;
  font-style: bold;
  margin: 0.5em 0;
}